@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-patterns {
  background: url('/public/background/bathroom-floor.svg');
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  
}

.avatar {
  background-image: url('../public/avatar/avatar.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgroom {
  background-image: url('/background/bgroom.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

.bgvid {
  background-image: url('/video/bg-gacha.gif');
  background-repeat: repeat;
}
